ERP_BASE_URL=http://localhost:8080
ERP_SITE=globalmart.localhost

WAREHOUSE_HOST=localhost
WAREHOUSE_PORT=5432
WAREHOUSE_DATABASE=supply_chain_dw

WAREHOUSE_USER=postgres
WAREHOUSE_PASSWORD=postgres123

PROJECT_ENV=development